
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #0275d8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



.cpuslidecontainer {
  width: 100%; /* Width of the outside container */
}

.cpuslider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.cpuslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #5bc0de;
  cursor: pointer;
}

.cpuslider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


.sovcpuslidecontainer {
  width: 100%; /* Width of the outside container */
}

.sovcpuslider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sovcpuslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #5bc0de;
  cursor: pointer;
}

.sovcpuslider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
